InventoryManagement/CodeProject.InventoryManagement.BusinessRules/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.dll
InventoryManagement/CodeProject.InventoryManagement.BusinessRules/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.dll
InventoryManagement/CodeProject.InventoryManagement.BusinessRules/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.dll
InventoryManagement/CodeProject.InventoryManagement.BusinessRules/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.dll
InventoryManagement/CodeProject.InventoryManagement.Data.EntityFramework/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.dll
InventoryManagement/CodeProject.InventoryManagement.BusinessRules/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.dll
InventoryManagement/CodeProject.InventoryManagement.BusinessRules/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.pdb
InventoryManagement/CodeProject.InventoryManagement.BusinessRules/obj/Debug/netcoreapp2.1/CodeProject.InventoryManagement.BusinessRules.csprojAssemblyReference.cache
InventoryManagement/CodeProject.InventoryManagement.BusinessServices/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.dll
InventoryManagement/CodeProject.InventoryManagement.BusinessServices/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.pdb
InventoryManagement/CodeProject.InventoryManagement.BusinessServices/obj/Debug/netcoreapp2.1/CodeProject.InventoryManagement.BusinessServices.csprojAssemblyReference.cache
InventoryManagement/CodeProject.InventoryManagement.Data.EntityFramework/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.pdb
InventoryManagement/CodeProject.InventoryManagement.Data.EntityFramework/obj/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.dll
InventoryManagement/CodeProject.InventoryManagement.Data.EntityFramework/obj/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.pdb
InventoryManagement/CodeProject.InventoryManagement.Data.EntityFramework/obj/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.csprojAssemblyReference.cache
InventoryManagement/CodeProject.InventoryManagement.Data.Models/obj/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.Models.csprojAssemblyReference.cache
InventoryManagement/CodeProject.InventoryManagement.Interfaces/obj/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Interfaces.csprojAssemblyReference.cache
InventoryManagement/CodeProject.InventoryManagement.WebApi/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.dll
InventoryManagement/CodeProject.InventoryManagement.WebApi/bin/Debug/netcoreapp2.1/CodeProject.InventoryManagement.Data.EntityFramework.pdb
InventoryManagement/CodeProject.InventoryManagement.WebApi/obj/Debug/netcoreapp2.1/CodeProject.InventoryManagement.WebApi.csprojAssemblyReference.cache
